body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG9PA0x5HtOXWKor9S5d8RrN122ucsGpRMMXHaqnPy2bQhdp-wJqotBf3qdJGqP5ZNrJUUbSjWyb8Y6nS3FPgMRRMJK186QyOVl0jZZosTzLrIS4Z_pvdyDej5HiMXqx9MokfIquAl9BW1-FkvA8XxTRQ7piRnl2stZ1yprqnf3P0NHIVRgOMMZ7pzDpGK2pN5Q==/astrophotography.jpg?errorImage=false'); /* 確実なURLを使用 */
    background-size: cover;
    margin: 0;
    color: white; /* 文字を白色に */
}

.header {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* テキストの影を追加 */
}

h1 {
    font-size: 56px; /* 大きなフォントサイズ */
    margin: 0;
}

.search-container {
    text-align: center;
    z-index: 1; /* 検索バーを前面に */
}

#searchInput {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* シャドウを追加 */
}

#searchButton {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px; /* ボタンと入力フィールドの間にマージン */
}

/* ボタンのホバー効果 */
#searchButton:hover {
    background-color: #45a049;
}
