body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ff7e5f, #feb47b); /* 虹色のグラデーション */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.clock {
    display: block;
    margin: 0 20px;
    border: 1px solid #000;
    border-radius: 50%;
}

.description {
    font-size: 20px;
    margin-left: 20px;
    animation: slideIn 5s ease-in-out infinite;
}

.image-title {
    width: 100px; /* 画像の横幅を指定 */
    height: auto; /* 高さは自動調整 */
    margin-left: 20px; /* 画像と説明の間にスペース */
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#embed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.embed-wrapper {
    margin: 10px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: red;
}

.embed-wrapper button {
    margin-top: 10px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes slideIn {
    0% { opacity: 0; transform: translateY(-30px); }
    50% { opacity: 1; }
    100% { opacity: 0; transform: translateY(30px); }
}
